@using HuiYin.Models
@model IEnumerable<HuiYin.Models.WenKu>

@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
   <script type="text/javascript">
        function SearchClick() {
            var key = $("#txtSearch").val();
            window.location.href = '/WenKu/Default/?key=' + key;
        }
        function addtoshopclick(wenkuid) {
            $.ajax({
                url: '/WenKu/AddToShop?wenkuId='+wenkuid,
                sync: true,
                cache: false,
                dataType: "json",
                success: function (mes) {
                    if (mes === '未登录') {
                        window.location.href = '/LhUser/Login?ReturnUrl=@Request.RawUrl';
                    } else {
                        alert(mes);
                    }

                },
                error: function (rrr, textStatus, errorThrown) {
                    alert(rrr.responseText);
                }
            });
        }
        $(function() {

        });
</script>
}

<div class="container">
    <div class="row">
 
        <div class="col-md-offset-3">
            <input type="text" style="max-width: 500px !important" width="500" class="form-control" id="txtSearch" placeholder="汇印一下">
            <input type="button" class="btn btn-default"  onclick="SearchClick()" id="btnSearch" value="搜索">
        </div>

    </div>
    <br/>
    <br/>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">文库分类</h3>
            </div>
         
                @foreach (WenKuFenLei fenLei in ((List<WenKuFenLei>)ViewBag.WenKuFenLeis1))
                {
                    <div class="panel-body">
                        <b><a href="/WenKu/Default?fId=@fenLei.Id">@fenLei.Name</a> </b>

                        @foreach (WenKuFenLei fenLei2 in ((List<WenKuFenLei>
                    )ViewBag.WenKuFenLeis2).Where(x => x.ParentId == fenLei.Id))
                        {
                            <div>
                                <a href="/WenKu/Default?fId=@fenLei2.Id">@fenLei2.Name</a>
                            </div>
                        }
                    </div>
                }
               
        </div>
    </div>

    <div class="col-md-7">
        <ul class="list-group">
            @foreach (WenKu wenku in ((List<WenKu>)ViewBag.WenKus))
            {
                <li class="list-group-item">
                    <span><a href="/Upload/WenKu/@wenku.FileName">@wenku.Name</a></span>  <span style="float: right"><button class="" id="@wenku.Id" onclick="addtoshopclick(@wenku.Id)">添加购物车</button></span>
                  
                </li>
            }
         
        </ul>
    </div>

</div>


    @*        <div class="row">*@
    @*            <div class="col-sm-4 col-md-3">*@
    @*                <div class="thumbnail">*@
    @*                    <img src="..." alt="...">*@
    @*                    <div class="caption">*@
    @*                        <h3>Thumbnail label</h3>*@
    @*                        <p>...</p>*@
    @*                        <p>*@
    @*                            <a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a>*@
    @*                        </p>*@
    @*                    </div>*@
    @*                </div>*@
    @*            </div>*@
    @*            </div>*@

</div>
@*<table class="table">*@
@*        <tr>*@
@*            <th>*@
@*                @Html.DisplayNameFor(model => model.WenKuFenLei.Name)*@
@*            </th>*@
@*            <th>*@
@*                @Html.DisplayNameFor(model => model.Name)*@
@*            </th>*@
@*            <th>*@
@*                @Html.DisplayNameFor(model => model.FileName)*@
@*            </th>*@
@*            *@
@*            <th></th>*@
@*        </tr>*@
@*    *@
@*    @foreach (var item in Model) {*@
@*        <tr>*@
@*            <td>*@
@*                @Html.DisplayFor(modelItem => item.WenKuFenLei.Name)*@
@*            </td>*@
@*            <td>*@
@*                @Html.DisplayFor(modelItem => item.Name)*@
@*            </td>*@
@*            <td>*@
@*                @Html.DisplayFor(modelItem => item.FileName)*@
@*            </td>*@
@*           *@
@*            <td>*@
@*                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
@*                @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
@*                @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
@*            </td>*@
@*        </tr>*@
@*    }*@
@*    *@
@*    </table>*@

