@model IEnumerable<HuiYin.Models.WenKuFenLei>
@{
    ViewBag.Title = "Index5";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FenLeiType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FenLeiType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentWenKuFenLei.Name)
            </td>
            <td>
                @Html.ActionLink("删除", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
