@{
    ViewBag.Title = "登录";
    //    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-1">汇印</div>
        <div class="col-md-8"> </div>
        <div class="col-md-3">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1079807124&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1029149336:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
                </li>
                <li>
                    <a href="#">汇印APP 敬请期待</a>
                </li>
            </ul>
        </div>
   
    </div>

    <hr/>
    @using (Html.BeginForm("Login", "LhUser", FormMethod.Post))
    {
        @Html.Hidden("ReturnUrl", Request.QueryString["ReturnUrl"])
        @Html.AntiForgeryToken()
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-6" align="right">
                <img src="/Images/LoginLeft.jpg" />
            </div>
            <div class="col-md-3" style="text-align: center">
                <div style="margin-top: 50px;">云打印</div>
                <div style="margin: 20px 0"><input id="txtName" style="width: 100%" name="txtName" placeholder="手机号" type="text" /></div>
                <div><input id="txtPwd" style="width: 100%" name="txtPwd" placeholder="密码" type="password" /></div>
                <div style="margin: 20px 0">
                    <input id="btnLogin" style="width: 100%" type="submit" value="登录" class="btn btn-primary"/>
                </div>

                <div style="margin: 20px 0">
                   <a href="/LhUser/Regist">没有账号？快速注册</a>
                </div>

            </div>
            <div class="col-md-3"> </div>
        </div>
    }


</div>


@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</body>
</html>


